
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.article .article_title,
.article .article__body h1,
.article .article__body h2,
.article .article__body h3 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.article .article__title {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

.article .article__body h1 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

.article .article__body h2 {
  font-size: 1.25em;
}

//.article .article__body h3 {
//  font-size: 1.25em;
//}
//.article .article__body blockquote {
//  position: relative;
//  display: block;
//  padding: 0 15px;
//  width: auto;
//  line-height: 24px;
//  color: #19283C;
//  text-align: center;
//  background: #F6F6F6;
//  border: 3px solid #19283C;
//  z-index: 0;
//}
//.article .article__body blockquote:before {
//  content: "";
//  position: absolute;
//  bottom: -8px; left: 50%;
//  margin-left: -9px;
//  width: 0px;
//  height: 0px;
//  border-style: solid;
//  border-width: 9px 9px 0 9px;
//  border-color: #F6F6F6 transparent transparent transparent;
//  z-index: 0;
//}
//.article .article__body blockquote:after {
//  content: "";
//  position: absolute;
//  bottom: -12px; left: 50%;
//  margin-left: -10px;
//  width: 0px;
//  height: 0px;
//  border-style: solid;
//  border-width: 10px 10px 0 10px;
//  border-color: #19283C transparent transparent transparent;
//  z-index: -1;
//}

.article .article__body img {
  max-width: 90%;
  height: auto;
  margin: 5px auto;
  display: block;
}

.article .favorite {
  width: 50px;
  margin: 50px 0 0 auto;
}
